@font-face {
  font-family: Muli-Italic;
  src: url('fonts/Muli-ExtraLightItalic.ttf')
}

@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-SemiBold.ttf')
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 44px;
  margin: auto;
  text-align: center
}

.App-intro {
  font-size: large;
}
