
.Card-images {
  height: 250px;
  max-width: 230px;
}

.Card-name{
  font-size: 18px;
  font-family: 'Muli-Italic', sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Card-content{
  box-sizing: border-box;
  margin: 1rem;
}

.Card-title {
  font-size: 14px;
  font-family: 'OpenSans';
  letter-spacing: 0.05em;
  text-align: center;
}

.ReactFlipCard {
  margin: 5px;
  text-align: center;
}

.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  box-sizing: border-box;
  width: 230px;
  height: 250px;
}

.ReactFlipCard__Back {
  border: 1px solid #ccc;
}

.ReactFlipCard__Back {
  background-color: black;
  color: white;
}

@keyframes Card-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
