
.Card-images {
  width: 217px;
  height: 290px;
}

.Card-name{
  font-size: 22px;
  font-family: 'Muli-Italic', sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Card-content{
  display: inline-block;
  margin: 1rem;
}

.Card-title {
  margin: 0px;
  font-family: 'OpenSans';
  letter-spacing: 0.15em;
}

.ReactFlipCard {
  margin: 25px;
  text-align: center;
}

.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  box-sizing: border-box;
  width: 217px;
  height: 290px;
}

.ReactFlipCard__Front,
.ReactFlipCard__Back {
  border: 1px solid #ccc;
}

.ReactFlipCard__Front {
  background-color: #eee;
}
.ReactFlipCard__Back {
  background-color: black;
  color: white;
}

@keyframes Card-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
