@font-face {
  font-family: ProximaNova;
  src: url('fonts/Proxima-Nova-Semibold.ttf')
}

@font-face {
  font-family: ProximaNovaRegular;
  src: url('fonts/ProximaNova-Regular.otf')
}

@font-face {
  font-family: ProximaNovaBold;
  src: url('fonts/ProximaNova-Bold.otf');
}

body {
    background-color: #ececec;
}

.dacamentor-name {
    font-size: 50px;
    letter-spacing: 0.05em;
    font-family: "ProximaNova";
    margin-top: 30px;
    margin-bottom: 20px;
}

.dacamentor-border-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.dacamentor-border {
    border-bottom: 3px solid #123350;
}

.dacamentor-endborder-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.dacamentor-endborder {
    border-bottom: 1px solid #123350;
    margin-top: 10px;
    margin-bottom: 25px;
}

.dacamentor-interview {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 600px;
}

.share-container {
    height: 75px;
}

.share {
    display: inline-block;
}

.share-padded {
    display: inline-block;
    padding-left: 10px;
}

.share-separator {
    height: 1px;
    background: #e67e00;
    border-bottom: 1px solid #e67e00;
    width: 10%;
    margin: 0 auto;
    margin-top: 20px;
}

.dacamentor-interview p{
    text-align: left;
    font-family: ProximaNovaRegular;
}

.external-link:link {
    text-decoration: none;
}

.external-link, .external-link:hover {
   color: #ed8910;
}

.dacamentor-interview p b {
    font-family: ProximaNovaBold;
    letter-spacing: 0.05em;
    font-size: 18px;
    text-align: left;
    color: #ed8910;
    line-height: 1.75;
}

.dacamentor-question {
    margin: 10px 0 25px 0;
}

.dacamentor-response {
    font-family: ProximaNovaRegular;
    font-size: 16px;
    line-height: 1.75;
}

.dacamentor-quote {
    font-family: "ProximaNovaRegular";
    font-size: 26px;
    text-align: center !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.info li {
    list-style: none;
    display: block;
}

.info-years, .info-occupation, .info-country {
    text-align: left;
}

.info-data {
    text-align: left;
}

.info-years {
    padding-top: 10px;
}

.icon {
    padding-right: 10px;
}

.info li p {
    display: inline-block;
    font-size: 14px;
    opacity: 0.5;
    text-transform: uppercase;
    font-family: "ProximaNova";
}

.info-text {
    float: right;
    opacity: 1 !important;
}

.help-button-container {
    max-width: 90%;
    padding-left: 20px;
    margin-bottom: 30px;
}

.help-button-container a {
    text-decoration: none;
}

.help-button {
    transition: background-color 0.5s ease;
    max-width: 20%;
    background-color: #727272;
}

.flyer {
    max-width: 70%;
}

@media only screen and (min-device-width: 768px) {
    .flyer {
        max-width: 65%;
    }
}

.help-button p {
    font-family: ProximaNovaRegular;
    color: white;
    text-align: center !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-bottom: 20px;
    max-width: 100%;
}

@media only screen and (max-device-width: 768px) {
    .help-button-container {
        padding-left: 10px;
    }
    .help-button {
        max-width: 50%;
    }

    .help-button p {
        padding: 10px;
    }
}

.help-button:hover {
    background-color: #e67e00 !important;
    cursor: pointer;
}

