@font-face {
  font-family: BreeSerif;
  src: url('fonts/BreeSerif-Regular.ttf')
}

body {
    background-color: #FFFDF5;
}

.info li {
    list-style: none;
    display: block;
}

.info-years, .info-occupation, .info-country {
    text-align: left;
}

.info-data {
    text-align: left;
}

.info-years {
    padding-top: 10px;
}

.icon {
    padding-left: 10px;
}

.info li p {
    display: inline-block;
    font-size: 16px;
    opacity: 0.5;
    text-transform: uppercase;
    font-family: BreeSerif;
}

.info-text {
    float: right;
}