
.portrait-title {
  top: 30%;
  width: 100%;
}

.portrait-title p {
  text-align: center;
  font-family: ProximaNovaBold;
  text-transform: uppercase;
  font-size: 70px;
  color: #e67e00  !important;
}

.header {
  margin-bottom: 20px;
}

.stats {
  max-width: 95% !important;
}

.stats canvas {
  height: 10px;
  width: 100%;
}

@media (min-width: 324px) and (max-width: 768px) {
  .portrait-title {
    top: 2%;
  }
  .portrait-title p {
    font-size: 60px;
    text-align: center;
  }
}

