
.portrait-title {
  position: absolute;
  top: 40%;
  width: 80%;
}

.portrait-title p {
  text-align: center;
  font-family: ProximaNovaBold;
  text-transform: uppercase;
  font-size: 70px;
  color: white !important;
}

.header {
  margin-bottom: 20px;
}

@media (min-width: 324px) and (max-width: 768px) {
  .portrait-title {
    top: 2%;
  }
  .portrait-title p {
    font-size: 60px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
  }
}

